<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wzl.videocenter.mapper.VideoCategoryMapper">

    <resultMap id="BaseResultMap" type="org.wzl.videocenter._do.VideoCategory">
        <id property="id" column="id" jdbcType="CHAR"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,parent_id,
        create_date,update_date
    </sql>

    <select id="getVideoCategoryById" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"></include>
        from t_video_category vc
            left join t_video_category_relation vcr on vc.id = vcr.category_id
        where vcr.video_id = #{videoId}
    </select>
</mapper>
