<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wzl.videocenter.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="org.wzl.videocenter._do.Video">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="videoName" column="video_name" jdbcType="VARCHAR"/>
            <result property="videoTime" column="video_time" jdbcType="INTEGER"/>
            <result property="uId" column="u_id" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_name,video_time,
        u_id,status,create_date,
        update_date
    </sql>
</mapper>
